:root {
  --base-sizing: 62.5%;
  --ff-body: "Raleway", sans-serif;
  --fw-lite: 100;
  --fw-reg: 500;
  --fw-thick: 600;
  --fw-bold: 700;

  --clr-bg: #100e1d;
  --clr-cmp-bg: #1e213a;
  --clr-white: #e7e7eb;
  --clr-yellow: #ffec65;
  --clr-secondary-text: hsl(243, 10%, 66%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/** ---- */
/** GENERAL RESETS */

html {
  /* 
  This defines what 1rem is
  1rem = 10px; 10px/16px = 62.5%
  */
  font-size: var(--base-sizing);
  box-sizing: border-box;
}

body {
  background-color: var(--clr-bg);
  font-family: var(--ff-body);
  font-weight: var(--fw-reg);
  letter-spacing: 1px;

  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
}

h1 {
  line-height: 1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
button:hover {
  outline: none;
  border: 1px solid hsl(0, 0%, 0%);
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

/** ---- */
/** UTILTIY CLASSES */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
