.forecast-daily {
  width: 100%;
  background-color: #1e213a;
}

.forecast-daily-display {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32rem;
}

.forecast-daily-display::before {
  content: "";
  position: absolute;

  /*substitute for - top: 0, right: 0, bottom: 0, left: 0  */
  inset: 0;
  width: 100%;
  background-image: url("../../assets/images/Cloud-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
}

.forecast-daily-display > img {
  width: 15rem;
}

.forecast-daily-data {
  font-size: 1.8rem;
  color: #a09fb1;
  text-align: center;
  margin-bottom: 10.5rem;
}

.forecast-daily-data > .temp {
  position: relative;
  top: -10%;
  display: inline-block;
  margin-bottom: 2.3rem;
  font-size: 14.4rem;
  font-weight: var(--fw-5);
  color: #e7e7eb;
  line-height: 1;
}

.forecast-daily-data .temp-unit {
  display: inherit;
  margin: 0;
  font-size: 5rem;
  color: #a09fb1;
}

.forecast-daily-data .description {
  margin-bottom: 4.8rem;
  font-size: 3.6rem;
  font-weight: var(--fw-6);
}

.forecast-daily-data > .date {
  display: inline-block;
  margin-bottom: 3.4rem;
  font-weight: var(--fw-5);
}

.forecast-daily-data .date-divide {
  --custom-margin: 1.6rem;
  display: inline-block;
  margin-right: var(--custom-margin);
  margin-left: var(--custom-margin);
}

.curr-location {
  font-weight: var(--fw-6);
}
