.navigation {
  position: relative;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}
.navigation-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-dropdown-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation-main > .dropdown-toggle {
  font: inherit;
  font-size: 1.6rem;
  font-weight: var(--fw-5);
  color: #e7e7eb;
  padding: 1.2rem 1.8rem;
  border-radius: 0;
  background-color: #6e707a;
}
.navigation-main > .current-location-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 25px;
  color: #e7e7eb;
  background-color: #6e707a;
}
.navigation-main > .navigation-dropdown {
  position: absolute;
  inset: 0;
  z-index: 10;
  width: 100%;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  background-color: #1e213a;
}
[aria-expanded="false"] + .navigation-dropdown {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}
[aria-expanded="true"] + .navigation-dropdown {
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100vh;
}

.navigation-dropdown .close-btn {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #e7e7eb;
  font-size: 2.4rem;
  padding: 0 0.5rem 0.5rem 0.5rem;
  margin-bottom: 2.4rem;
}

.navigation-dropdown .query-btn {
  border: 1px solid #3c47e9;
  padding: 1.5rem 2rem;
  background-color: #3c47e9;
  color: #e7e7eb;
  font: inherit;
  font-size: 1.6rem;
  font-weight: var(--fw-6);
  letter-spacing: 1px;
}

.search-icon {
  padding: 0 1.5rem 1.5rem 1.5rem;
  color: #616475;
  font-size: 1.6rem;
}

.navigation-dropdown-search {
  display: flex;
  align-items: center;
  margin-bottom: 3.8rem;
}
.navigation-dropdown-input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #e7e7eb;
  caret-color: #e7e7eb;
}
.navigation-dropdown-input::placeholder {
  color: #e7e7eb;
  letter-spacing: 1px;
}
.navigation-dropdown-input:focus {
  outline: none;
}
.navigation-dropdown-input-wrap {
  flex-grow: 1;
  flex-shrink: 1;
  display: inline-block;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border: 0.1rem solid #e7e7eb;
  margin-right: 1.2rem;
}

.navigation-dropdown .search-history-item {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 1.2rem;
  width: 100%;
  color: #e7e7eb;
  font-size: 1.6rem;
}

.navigation-dropdown .search-history-item:hover,
.navigation-dropdown .search-history-item:focus {
  box-shadow: 0 0 0 1px #e7e7eb;
  cursor: pointer;
}

.search-history-item > .search-history-icon {
  visibility: hidden;
  opacity: 0;
}

.search-history-item:hover > .search-history-icon,
.search-history-item:focus > .search-history-icon {
  visibility: visible;
  opacity: 1;
}

.search-history {
  width: 100%;
  color: #e7e7eb;
  font-size: 1.6rem;
}
