.section-weekly-forecast {
  background-color: #100e1d;
  padding: 2.4rem;
  width: 100%;
}

.weekly-forecast-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 5.1rem;
}

.weekly-forecast {
  display: inline-block;
  padding-top: 1.8rem;
  margin-top: 3.2rem;
  width: 12.4rem;
  height: 17.7rem;
  background-color: #1e213a;
  font-size: 1.6rem;
  font-weight: var(--fw-5);
  text-align: center;
  color: #e7e7eb;
}

.weekly-forecast-temp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weekly-forecast-heading {
  margin-bottom: 0.9rem;
  font-size: 1.6rem;
  font-weight: var(--fw-5);
}

.weekly-forecast-icon {
  width: 5.6rem;
  margin-bottom: 3.2rem;
}

.weekly-forecast-temp > .high {
  margin-right: 1.6rem;
}

.weekly-forecast-temp > .low {
  color: #a09fb1;
}

.weekly-forecast-today-header {
  font-size: 2.4rem;
  font-weight: var(--fw-7);
}

.weekly-forecast-today-header,
.weekly-forecast-today {
  color: #e7e7eb;
}

.weekly-forecast-today {
  padding-bottom: 9.6rem;
}

.weekly-forecast-today > .highlight {
  margin-top: 3.2rem;
  padding-top: 2.4rem;
  padding-bottom: 3.6rem;
  background-color: #1e213a;
  text-align: center;
}

.weekly-forecast-today .highlight-header {
  font-size: 1.6rem;
  font-weight: var(--fw-5);
}

.weekly-forecast-today .highlight-content {
  margin-top: 0.6rem;
  font-size: 3.6rem;
}

.weekly-forecast-today .highlight-content > span {
  font-size: 6.4rem;
  font-weight: var(--fw-7);
}

.section-footer {
  color: #e7e7eb;
  text-align: center;
}

.section-footer a {
  text-decoration: underline;
}
