.navigation > ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-dropdown > [type="button"] {
}

.navigation-dropdown > .dropdown-search {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
}

[aria-expanded="false"] + #dropdown-search {
  opacity: 0;
  visibility: hidden;
}

[aria-expanded="true"] + #dropdown-search {
  opacity: 1;
  visibility: visible;
}
